.car-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  place-items: center;
  z-index: 1000;
}

.car-modal-img {
  width: 200px;
  height: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}